* {
  padding: 0;
  box-sizing: border-box;
}
.row {
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 250px;
}
.block {
  display: inline-block;
  width: 350px;
  height: 560px;
  border: 1px;
  border-color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 8px;
  margin-top: 30px;
  vertical-align: top;
}
img {
  width: 350px;
  height: 220px;
}

.date {
  display: inline;
  color: gray;
  font-family: "Roboto", sans-serif;
  text-align: left;
  padding-left: 15px;
  padding-top: 20px;
  font-size: 1em;
}

.comments {
  display: inline;
  color: gray;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  font-size: 1em;
}
.icon {
  display: inline;
  padding: 15px;
}

h1 {
  padding: 20px;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  margin-top: 0em;
  margin-bottom: 0em;
}
.content {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  color: rgba(107, 105, 105, 0.966);
  margin-top: 0em;
  margin-bottom: 0em;
}
.readmore {
  color: gray;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
  margin-top: 0em;
  margin-bottom: 0em;
}
